* {
  margin: 0;
  padding: 0;
}

body header navbar ul li a {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
}

.header {
  background: url(https://i.ibb.co/KD9SFf1/header-2.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  clip-path: polygon(0 0, 100% 0, 100% 69%, 0 97%);
  width: 100%;
  height: 550px;
  position: relative;
}

#head {
  filter: drop-shadow(-1px 3px 3px #915e06a4);
}

.header-content {
  position: absolute;
  top: 150px;
  bottom: 48px;
  left: 100px;
  right: 48px;
}

.header-content-title {
  position: absolute;
  color: rgb(20, 20, 20);
  font-size: 60px;
  font-family: "Averia Libre", cursive;
  background: linear-gradient(to right, #d10e4c 0%, #f3bcbc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #915e06d0;
}

.button {
  background-color: #eeb6b6;
  border-radius: 30%;
  border-color: #915e0680;
  padding: 15px;
  font-size: 15px;
  color: #664204;
  text-align: center;
  position: absolute;
  top: 68.5%;
  left: 50%;
  transform: (-50%, -50%);
}

a.navibar {
  color: #9b6509f8;
}

a.navibar:visited {
  color: #9b6509f8;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
}

li {
  margin: 0 20px 0 20px;
  font-size: 30px;
}

#container {
  margin: 50px;
}

#personal-information {
  font-family: "Courgette", cursive;
  font-size: 30px;
  color: #d10e4c;
  display: flex;
  justify-content: center;
}

.aboutyfoto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-family: "Dosis", sans-serif;
}

#about-img {
  width: 280px;
  height: auto;
}

.projects-section-header {
  font-family: "Courgette", cursive;
  font-size: 30px;
  color: #bd174c;
  display: flex;
  justify-content: center;
  margin: 15% 0 0 0;
}

.contact-section-header {
  font-family: "Courgette", cursive;
  font-size: 26px;
  color: #bd174c;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 0;
}

.row {
  display: flex;
  justify-items: center;
  text-align: center;
}

.article {
  flex: 1;
  margin-right: 60px;
}

.article:last-child {
  margin-right: 0;
}

.article img {
  width: 60%;
  height: 70%;
  justify-content: center;
}

#project-title {
  font-size: 20px;
  margin-top: 16px;
  font-family: "Dosis", sans-serif;
  text-align: center;
}

#contact {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

#contact-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0 5px 0;
}

.contact-details {
  font-size: 24px;
  text-shadow: 2px 2px 15px #ff1f66;
  color: rgb(20, 20, 20);
  font-family: "Dosis", sans-serif;
}

.contact-details:visited {
  color: #8d133a;
}

.contact-details:hover {
  transform: translateY(4px);
}


@media screen and (max-width: 768px) {
  .header-content {
    position: absolute;
    top: 150px;
    bottom: 24px;
    left: 50px;
    right: 24px;
  }

  .header-content-title {
    font-size: 50px;
  }

  li {
  margin: 0 20px 0 20px;
  font-size: 26px;
  }

  #container {
    margin: 40px;
  }

  #about-img {
    width: 200px;
    height: auto;
  }

  .article-resp {
    display: none;
  }

  #contact-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .header-content {
    position: absolute;
    top: 150px;
    bottom:12px;
    left: 25px;
    right: 12px;
  }

  .header-content-title {
    font-size: 30px;
  }

  li {
    margin: 0 10px 0 10px;
    font-size: 20px;
  }

  #container {
    margin: 20px;
  }

  #about-img {
    width: auto;
    height: 150px;
  }

  #personal-information {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .projects-section-header {
    font-size: 20px;
    margin: 15% 0 0 0;
  }

  .article {
    display: none;
  }

  .row-resp {
    display: initial;
    margin: 0;
    padding: 0; 
  }

  .article-resp {
    display: initial;
    margin: 0;
    padding: 0; 
  }

  #project-title {
    font-size: 16px;
    margin: 5px;
  }
  
  .article img {
    display: none;
  }

  a.article-resp2 {
    text-shadow: 2px 2px 15px #ff1f66;
    color: rgb(20, 20, 20);
  }
  
  a.article-resp2:visited {
    text-shadow: 2px 2px 15px #ff1f66;
    color: rgb(20, 20, 20);
  }

  .contact-section-header {
    font-size: 18px;
    margin-top: 2%;
  }

  .btn {
    font-size: 15px;
  }
}